<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>the Futile Corporation</title>
		<link href="/static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css">
		<script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>
		<meta http-equiv="Accept-CH" content="DPR, Width">
  </head>
  <body>
		<div id="title" data-default="the Futile Corporation">the Futile Corporation</div>
		<input id="darkmode" type="checkbox">
		<div id="overlay">
			<div id="close">x</div>
			<div id="content"></div>
		</div>
	</body>
<script type="text/javascript">
const processContent = () => {
	const readmore = document.getElementById('readmore');
		if (!readmore) {
			return;
		}
	const remainder = document.getElementById('remainder');
	readmore.children[0].onclick = (e) => {
		readmore.style.display = 'none';
		remainder.style.display = 'block';
		remainder.scrollIntoView();
	};
	readmore.style.display = 'block';
	remainder.style.display = 'none';
	const lightbox = GLightbox();
}
processContent();
</script>
</html>
